@charset "utf-8";
/* CSS Document */

<<<<<<< HEAD
.tipo {color: #000};

=======
.tipo {
  	font-family: Arial,Verdana, Helvetica, sans-serif, Georgia, "Times New Roman", Times, serif;
   	font-size: 20px;
	color: #63F;
	}
>>>>>>> 6000553b7a87133ad290cb85f7f4b6b415ebd9d5



<<<<<<< HEAD
H1.ilus{
	margin: 50px 20px;
  	font-family: Arial,Verdana, Helvetica, sans-serif, Georgia, "Times New Roman", Times, serif;
  	line-height: 20px;
   	font-size: 50px;
}#apDiv4 center .tipo {
	text-align: center;
}
#apDiv4 center .tipo {
	text-align: left;
}
#apDiv4 center .tipo {
	text-align: justify;
}
=======
>>>>>>> 6000553b7a87133ad290cb85f7f4b6b415ebd9d5
