@charset "utf-8";
/* CSS Document */

.tipo {color: #63F};



.nosotros{ 
	margin: 50px 20px;
  	font-family: Arial,Verdana, Helvetica, sans-serif, Georgia, "Times New Roman", Times, serif;
  	line-height: 18px;
   	font-size: 40px;
}
