@charset "utf-8";
/* CSS Document */
.todo {
	width:100%;
	max-width:1500px
	}
	
#video_background { 
	position: fixed; 
	bottom: 0px; 
	right: 0px; 
	min-width: 100%; 
	min-height: 100%; 
	width: auto; 
	height: auto; 
	z-index: -1000; 
	overflow: hidden; 
}
#video_pattern { 
	background:#fff; 
	position: fixed; 
	opacity: 0.8; 
	left: 0px; 
	top: 0px; 
	width: 100%; 
	height: auto; 
	z-index: 1; 
}


ul {
    padding: 5px;
    margin: 10px 0;
    list-style: none;
    float: left;
}
 
ul li {
    float: left;
    display: inline; /*For ignore double margin in IE6*/
    margin: 0 10px;
}
 
ul li a {
    text-decoration: none;
    float:left;
    color: #999;
    cursor: pointer;
    font: 900 14px/22px "Arial", Helvetica, sans-serif;
}
 
ul li a span {
    margin: 0 10px 0 -10px;
    padding: 1px 8px 5px 18px;
    position: relative; /*To fix IE6 problem (not displaying)*/
    float:left;
}

ul.blue li a.current, ul.blue li a:hover {
    background: url(images/blue.png) no-repeat top right;
    color: #0d5f83;
}
 
ul.blue li a.current span, ul.blue li a:hover span {
    background: url(images/blue.png) no-repeat top left;
}
.imgPrueba {
	background-image:url(/imagenes/prueba.gif);
	background-position:top center;
	background-repeat:no-repeat;
	background-attachment:fixed;
	width:auto;
	
	
	
	
    /* By default, we tilt all our images -2 degrees */
    ul.polaroids a {
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    }
     
    /* Rotate all even images 2 degrees */
    ul.polaroids li:nth-child(even) a {
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    }
     
    /* Don't rotate every third image, but offset its position */
    ul.polaroids li:nth-child(3n) a {
    -webkit-transform: none;
    -moz-transform: none;
    position: relative;
    top: -5px;
    }
     .button { /* clase general */
  border: 1px solid #dedede;
  border-radius: 3px;
  color: #555;
  display: inline-block;
  font: bold 12px/12px HelveticaNeue, Arial;
  padding: 8px 11px;
  text-decoration: none;
}

.button.white{
  background: #f5f5f5;
  border-color: #dedede #d8d8d8 #d3d3d3;
  box-shadow: 0 1px 1px #eaeaea, inset 0 1px 0 #fbfbfb;
  color: #555;
  text-shadow: 0 1px 0 #fff;
  background: -moz-linear-gradient(top,  #f9f9f9, #f0f0f0);
  background: -webkit-linear-gradient(top,  #f9f9f9, #f0f0f0);
  background: o-linear-gradient(top,  #f9f9f9, #f0f0f0);
  background: ms-linear-gradient(top,  #f9f9f9, #f0f0f0);
  background: linear-gradient(top,  #f9f9f9, #f0f0f0);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#f0f0f0');
}

.button.white:hover{
    background: #f4f4f4;
    border-color: #c7c7c7 #c3c3c3 #bebebe;
    box-shadow: 0 1px 1px #ebebeb, inset 0 1px 0 #f3f3f3;
    text-shadow: 0 1px 0 #fdfdfd;
    background: -moz-linear-gradient(top,  #efefef, #f8f8f8);
    background: -webkit-linear-gradient(top,  #efefef, #f8f8f8);
    background: -o-linear-gradient(top,  #efefef, #f8f8f8);
    background: -ms-linear-gradient(top,  #efefef, #f8f8f8);
    background: linear-gradient(top,  #efefef, #f8f8f8);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#efefef', endColorstr='#f8f8f8');
}

/* Fondo Degradado - Background Gradient */
background:-webkit-linear-gradient(top, #fefefe, #e5e5e5); /* Chrome 10+ */
background: -moz-linear-gradient(top, #fefefe, #e5e5e5); /* Firefox 3.6+ */
background: -ms-linear-gradient(top, #fefefe, #e5e5e5); /* IE10 */
background: linear-gradient(top, #fefefe, #e5e5e5);

/* Bordes redondenados - Border Radius */
 -webkit-border-radius:4px;
 -moz-border-radius:4px;
 border-radius:4px;

     
     
    /* Rotate every fifth image by 5 degrees and offset it */
    ul.polaroids li:nth-child(5n) a {
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    position: relative;
    right: 5px;
    }
    /* Aplcamos sombras al boton - Box Shadow */
-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255, .3), inset 0 0 0 1px rgba(255,255,255, .6), 0 1px 2px rgba(0, 0, 0, .1);
-moz-box-shadow: inset 0 1px 0 rgba(255,255,255, .3), inset 0 0 0 1px rgba(255,255,255, .6), 0 1px 2px rgba(0, 0, 0, .1);
box-shadow: inset 0 1px 0 rgba(255,255,255, .3), inset 0 0 0 1px rgba(255,255,255, .6), 0 1px 2px rgba(0, 0, 0, .1);


/* Animacion - Transition */
-webkit-transition: all ease-in-out .3s;
-moz-transition: all ease-in-out .3s;
transition: all ease-in-out .3s;


.button{
    background:#e5e5e5;
    display:inline-block;
    margin:0 6px;
    padding:7px 20px 7px;
    color:#333;
    text-decoration:none;
    text-shadow: 0 1px 1px #FFF;
    border:1px solid #ccc;
 
    /* Bordes redondenados - Border Radius */
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
 
    /* Fondo Degradado - Background Gradient */
    background:-webkit-linear-gradient(top, #fefefe, #e5e5e5); /* Chrome 10+ */
    background:   -moz-linear-gradient(top, #fefefe, #e5e5e5); /* Firefox 3.6+ */
    background:    -ms-linear-gradient(top, #fefefe, #e5e5e5); /* IE10 */
    background:        linear-gradient(top, #fefefe, #e5e5e5);
 
    /* Aplcamos sombras al boton - Box Shadow */
    -webkit-box-shadow:inset 0 1px 0 rgba(255,255,255, .3), inset 0 0 0 1px rgba(255,255,255, .6), 0 1px 2px rgba(0, 0, 0, .1);
    -moz-box-shadow:inset 0 1px 0 rgba(255,255,255, .3), inset 0 0 0 1px rgba(255,255,255, .6), 0 1px 2px rgba(0, 0, 0, .1);
    box-shadow:inset 0 1px 0 rgba(255,255,255, .3), inset 0 0 0 1px rgba(255,255,255, .6), 0 1px 2px rgba(0, 0, 0, .1);
 
    /* Animacion - Transition */
    -webkit-transition: all ease-in-out .3s;
    -moz-transition: all ease-in-out .3s;
    transition: all ease-in-out .3s;
}
    
    
    a {
  display: inline-block;
  overflow: hidden;
  position: relative;
  text-decoration: none;
}

a:before,
a:after {
  top: 0;
  background-color: rgb(0, 0, 0);
  content: "";
  display: block;
  height: 100%;
  opacity: 0.6;
  position: absolute;
  width: 50%;
  z-index: 3;
}

a:before {
  left: 0;
}

a:after {
  right: 0;
}

a img {
  border: none;
  display: block;
  z-index: 1;
}

a:before,
a:after,
a span {
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}

a span {
  color: black;
  background-color: rgba(255, 255, 255, 0.8);
  bottom: 5%;
  display: block;
  opacity: 0;
  padding: 2% 3%;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  width: 94%;
  z-index: 2;
}

a:hover:before {
  left: -50%;
}

a:hover:after {
  right: -50%;
}

a:hover span {
  opacity: 1;
}


   a { margin: 1em 0; float: left; clear: left; }
 
.rss {
  color: #E37529;
  padding: 0 0 0 18px;
  background: #FFF url(imagenes/rss.gif) no-repeat left center;
}
 
.pdf {
  padding: 0 0 0 22px;
  background: #FFF url(imagenes/pdf.png) no-repeat left center;
}
 
<a href="#">Enlace con el estilo por defecto</a>
 
<a class="rss" href="#">Enlace a un archivo RSS</a>
 
<a class="pdf" href="#">Enlace a un documento PDF</a>


a { margin: 1em 0; float: left; clear: left; }
a.boton {
  text-decoration: none;
  background: #EEE;
  color: #222;
  border: 1px outset #CCC;
  padding: .1em .5em;
}
a.boton:hover {
  background: #CCB;
}
a.boton:active {
  border: 1px inset #000;
}
 
<a class="boton" href="#">Guardar</a>
<a class="boton" href="#">Enviar</a>
    
    
    
    /* Bubble with an isoceles triangle
------------------------------------------ */

.triangle-isosceles {
  position: relative;
  padding: 15px;
  margin: 1em 0 3em;
  color: #000;
  background: #f3961c;
  border-radius: 10px;
  background: linear-gradient(top, #f9d835, #f3961c);
}

/* creates triangle */
.triangle-isosceles:after {
  content: "";
  display: block; /* reduce the damage in FF3.0 */
  position: absolute;
  bottom: -15px;
  left: 50px;
  width: 0;
  border-width: 15px 15px 0;
  border-style: solid;
  border-color: #f3961c transparent;
}
    
    
     
    /* Keep default rotate for every eighth, but offset it */
    ul.polaroids li:nth-child(8n) a {
    position: relative;
    top: 8px;
    right: 5px;
    }
     
    /* Keep default rotate for every eleventh, but offset it */
    ul.polaroids li:nth-child(11n) a {
    position: relative;
    top: 3px;
    left: -5px;
    }
    
   
    .awesome{
    background: #222 url(/images/alert-overlay.png) repeat-x;
    display: inline-block;
    padding: 5px 10px 6px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    line-height: 1;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 1px 3px #999;
    -webkit-box-shadow: 0 1px 3px #999;
    text-shadow: 0 -1px 1px #222;
    border-bottom: 1px solid #222;
    position: relative;
    cursor: pointer;
    }
 
    
    .awesome {
    ...
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    border-bottom: 1px solid rgba(0,0,0,0.25);
    ...
    }

    /* Sizes ---------- */
.small.awesome {
font-size: 11px;
}
.medium.awesome {
font-size: 13px;
}
.large.awesome {
font-size: 14px;
padding: 8px 14px 9px;
}
 
/* Colors ---------- */
.blue.awesome {
background-color: #2daebf;
}
.red.awesome {
background-color: #e33100;
}
.magenta.awesome {
background-color: #a9014b;
}
.orange.awesome {
background-color: #ff5c00;
}
.yellow.awesome {
background-color: #ffb515; 
    
    .brillo{
    position:relative;
    display: block;
    height: 133px;
    width: 132px;  
    text-decoration:none;
    overflow:hidden;
}

.brillo span{
     position:relative;
     display: block;
     background:url(brillo.png) no-repeat; 
     background-position: -300px 0px;
     margin-top:-137px;
     height: 133px;
     width: 132px;     
}


.brillo:hover span{
    background-position: 300px 0px;
    -webkit-transition-property: all;
    -webkit-transition-duration: 1.5s;
    transition-property: all;
    transition-duration: 1.5s;
}


    .buttons a, .buttons button{
        display:block;
        float:left;
        margin:0 7px 0 0;
        background-color:#f5f5f5;
        border:1px solid #dedede;
        border-top:1px solid #eee;
        border-left:1px solid #eee;

        font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
        font-size:12px;
        line-height:130%;
        text-decoration:none;
        font-weight:bold;
        color:#565656;
        cursor:pointer;
        padding:5px 10px 6px 7px; /* Links */
    }
    .buttons button{
        width:auto;
        overflow:visible;
        padding:4px 10px 3px 7px; /* IE6 */
    }
    .buttons button[type]{
        padding:5px 10px 5px 7px; /* Firefox */
        line-height:17px; /* Safari */
    }
    *:first-child+html button[type]{
        padding:4px 10px 3px 7px; /* IE7 */
    }
    .buttons button img, .buttons a img{
        margin:0 3px -3px 0 !important;
        padding:0;
        border:none;
        width:16px;
        height:16px;
    }

    /* STANDARD */

    button:hover, .buttons a:hover{
        background-color:#dff4ff;
        border:1px solid #c2e1ef;
        color:#336699;
    }
    .buttons a:active{
        background-color:#6299c5;
        border:1px solid #6299c5;
        color:#fff;
    }

    /* POSITIVE */

    button.positive, .buttons a.positive{
        color:#529214;
    }
    .buttons a.positive:hover, button.positive:hover{
        background-color:#E6EFC2;
        border:1px solid #C6D880;
        color:#529214;
    }
    .buttons a.positive:active{
        background-color:#529214;
        border:1px solid #529214;
        color:#fff;
    }

    /* NEGATIVE */

    .buttons a.negative, button.negative{
        color:#d12f19;
    }
    .buttons a.negative:hover, button.negative:hover{
        background:#fbe3e4;
        border:1px solid #fbc2c4;
        color:#d12f19;
    }
    .buttons a.negative:active{
        background-color:#d12f19;
        border:1px solid #d12f19;
        color:#fff;
    }

    /* REGULAR */

    button.regular, .buttons a.regular{
        color:#336699;
    }
    .buttons a.regular:hover, button.regular:hover{
        background-color:#dff4ff;
        border:1px solid #c2e1ef;
        color:#336699;
    }
    .buttons a.regular:active{
        background-color:#6299c5;
        border:1px solid #6299c5;
        color:#fff;
    }

See the demo


.brillo{
    position:relative;
    display: block;
    font-size:70px;
    height: 70px;
    width: 200px;  
    text-decoration:none;
    color:#333;
    overflow:hidden;
}
.brillo span{
    position:relative;
    display: block;
    background:url(brillo.png) no-repeat;  
    background-position: -100px 0px;
    margin-top:-75px;
    height: 70px;
    width: 200px;
}
.brillo:hover span{
    background-position: 300px 0px;
    -webkit-transition-property: all;
    -webkit-transition-duration: 1s;
    transition-property: all;
    transition-duration: 1s;
}




    
/* @font-face definitions */

@font-face {
  font-family: 'KulminoituvaRegular';
  src: url('../fonts/kulminoituva.eot');
  src: local('Kulminoituva Regular'), local('Kulminoituva'), url('../fonts/kulminoituva.woff') format('woff'), url('../fonts/kulminoituva.ttf') format('truetype'), url('../fonts/kulminoituva.svg#Kulminoituva') format('svg');
}

@font-face {
  font-family: 'NotethisRegular';
  src: url('../fonts/Note_this.eot');
  src: local('Note this Regular'), local('Notethis'), url('../fonts/Note_this.woff') format('woff'), url('../fonts/Note_this.ttf') format('truetype'), url('../fonts/Note_this.svg#Notethis') format('svg');
}

/* General styling */

body {
  background:#202020;
  font-family: NotethisRegular, Verdana, Arial, sans-serif;
  font-size:125%;
  color:#202020;
}

h1, h2, h3, h4, h5, h6 {
  font-family: KulminoituvaRegular, "Arial Black", Gadget, sans-serif;
  font-size:1.5em;
}

#wrapper {
  width:760px;
  margin:0 auto;
  text-align:center;
  padding-top:50px;
}
	
	
	
	
	
	
	
	
* {
    padding: 0;
    margin: 0;
     
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}	
	
	
	
	
	height:auto;
	display:block;
}

.dimension
{
	width: 50%;
	height:auto;
	
}

.dimension img
{
	width: 100%;
min-width:25px;
	
}

.centrado
{
	margin: 0 auto;
	}


body {
  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 20px 50px 150px;
  font-size: 13px;
  text-align: center;
  background: #E3CAA1;
}


ul {
  text-align: left;
  display: inline;
  margin: 0;
  padding: 15px 4px 17px 0;
  list-style: none;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  z-index: 5; 
}


ul li {
  font: bold 12px/18px sans-serif;
  display: inline-block;
  margin-right: -4px;
  position: relative;
  padding: 15px 20px;
  background: #fff;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
	

ul li:hover {
  background: #555;
  color: #fff;
}
ul li ul {
  padding: 0;
  position: absolute;
  top: 48px;
  left: 0;
  width: 150px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
  z-index: 5; 
}

ul li ul li { 
  background: #555; 
  display: block; 
  color: #fff;
  text-shadow: 0 -1px 0 #000;
}
ul li ul li:hover { background: #666; }
ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}

.fotografia{
	
	width:auto;
	height:auto;
	position:relative;
	left:-60%;
	margin-left:100px;
	top:80%;
	margin-top:80px;
	z-index: 2; 
}
	 

	.ilustracion{
	
	width:auto;
	height:auto;
	position:relative;
	left:-30%;
	margin-left:100px;
	top:-50%;
	margin-top:-360px;
	z-index: 2; 
}

.modelado{
	
	width:auto;
	height:auto;
	position:relative;
	left:1%;
	margin-left:100px;
	top:100%;
	margin-top:-345px;
	z-index: 2; 
}
	

.serigrafia{
	
	width:auto;
	height:auto;
	position:relative;
	left:30%;
	margin-left:100px;
	top:100%;
	margin-top:-330px;
	z-index: 2; 
}




#containerEx3 {
	   width: 60%;
	   margin: 0 auto;
	}
	
	.containerEx3 img {
	   width: 100%;
	  
	}
	
#ex3 img {
   height: 400px;
   width: 25%;
   margin: auto;
   border: 5px solid #eee;
   -webkit-box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
   -moz-box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
   box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
   -webkit-transition: all 0.5s ease-out;
   -moz-transition: all 0.5s ease;
   -ms-transition: all 0.5s ease;
   min-width:90px;
}
.ex3 img img {
   width: 100%;
   max-width: 960px;
   min-width:800px;
}

#ex3 img:hover {
   -webkit-transform: rotate(-7deg);
   -moz-transform: rotate(-7deg);
   -ms-transform: rotate(-7deg);
   transform: rotate(-7deg);
}

.textoseri {
position:relative;
width:155px;
height: 40px;
left:880px;
margin-left:100px;
top:210px;
color: #FFF;
font-weight: bold;
background:#900;
margin-top:-330px;
text-align: center;
z-index: 3; 
text-shadow:   0px 4px 3px rgba(0,0,0,0.4),
               0px 8px 13px rgba(0,0,0,0.1),
               0px 18px 23px rgba(0,0,0,0.1);
			}   
		
			   
.textofoto {
position:relative;
width:155px;
height: 40px;
left:160px;
margin-left:100px;
top:880px;
color: #FFF;
font-weight: bold;
background:#900;
margin-top:-330px;
text-align: center;
z-index: 3; 
text-shadow:   0px 4px 3px rgba(0,0,0,0.4),
               0px 8px 13px rgba(0,0,0,0.1),
               0px 18px 23px rgba(0,0,0,0.1);
			  } 


.textoilus {
position:relative;
width:155px;
height: 40px;
left:430px;
margin-left:100px;
top:640px;
color: #FFF;
font-weight: bold;
background:#900;
margin-top:-330px;
text-align: center;
z-index: 3; 
text-shadow:   0px 4px 3px rgba(0,0,0,0.4),
               0px 8px 13px rgba(0,0,0,0.1),
               0px 18px 23px rgba(0,0,0,0.1);
			  }   	   
			  


.textomod {
position:relative;
width:155px;
height: 40px;
left:650px;
margin-left:100px;
top:420px;
color: #FFF;
font-weight: bold;
background:#900;
margin-top:-330px;
text-align: center;
z-index: 3; 
text-shadow:   0px 4px 3px rgba(0,0,0,0.4),
               0px 8px 13px rgba(0,0,0,0.1),
               0px 18px 23px rgba(0,0,0,0.1);
			  }   
			  

.redes{
position:absolute;	
left:1000px;			  
margin-left:800px;
top:-390px;
margin-top:-330px;
width:35px;
height:35px;
z-index: 2; 

}
.redesg{
position:relative;	
left:200px;			  
margin-left:800px;
top:-100px;
margin-top:40px;
width:35px;
height:35px;
z-index: 2; 

}
	
.derecho{
position:fixed;
margin-top:0%;
top:95%;
left:0%;
margin-left:0%;
height:50px;
clear:both;
text-align:center;
background-color:#900;
background-position:left;
background-size:100%;
width:100%;
height:5%;
color: #FFF;
font-family:Arial, Helvetica, sans-serif;
z-index: 3; 
text-shadow:   0px 4px 3px rgba(0,0,0,0.4),
               0px 8px 13px rgba(0,0,0,0.1),
               0px 18px 23px rgba(0,0,0,0.1);
			  }   



*{
	margin:0%;
	padding:0%;
	}
	
	* img{
	width:100%
	}

#gal {
	width:80%;
	height:50%;
	margin:50px auto auto auto;
	}
	
	
#galeria li {
	width:auto;
	height:auto;
	float:left;
	display:block;
	margin:1%;
	margin-left:3%;
	border:solid 4px #000;
	box-shadow:0px 0px 5px 2px;
	opacity:0.7;
	-webkit-transition:all 0.2s ease-in-out;
	-moz-transition:all 0.2s ease-in-out;
	-ms-transition:all 0.2s ease-in-out;
	-o-transition:all 0.2s ease-in-out;
	transition:all 0.2s ease-in-out;
	}
	
	.galeria li img {
	width:auto;
		}
	
	
		/* line 6, ../sass/lightbox.sass */


/* line 15, ../sass/lightbox.sass */
#lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index:10000;
  text-align: center;
  line-height: 0;
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
  font-weight: normal;
}
/* line 24, ../sass/lightbox.sass */
#lightbox img {
  width:auto;
  height:auto;
}
/* line 27, ../sass/lightbox.sass */
#lightbox a img {
  border: none;
}

/* line 30, ../sass/lightbox.sass */
.lb-outerContainer {
  position: relative;
  background-color: white;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
/* line 38, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 39, ../sass/lightbox.sass */
.lb-container {
  padding: 10px;
}

/* line 42, ../sass/lightbox.sass */
.lb-loader {
  position: absolute;
  top: 40%;
  left: 0%;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

/* line 51, ../sass/lightbox.sass */
.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

/* line 59, ../sass/lightbox.sass */
.lb-container > .nav {
  left: 0;
}

/* line 62, ../sass/lightbox.sass */
.lb-nav a {
  outline: none;
}

/* line 65, ../sass/lightbox.sass */
.lb-prev, .lb-next {
  width: 49%;
  height: 100%;
  background-image: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");
  /* Trick IE into showing hover */
  display: block;
}

/* line 72, ../sass/lightbox.sass */
.lb-prev {
  left: 0;
  float: left;
}

/* line 76, ../sass/lightbox.sass */
.lb-next {
  right: 0;
  float: right;
}

/* line 81, ../sass/lightbox.sass */
.lb-prev:hover {
  background: url(../images/prev.png) left 48% no-repeat;
}

/* line 85, ../sass/lightbox.sass */
.lb-next:hover {
  background: url(../images/next.png) right 48% no-repeat;
}

/* line 88, ../sass/lightbox.sass */
.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  width: 100%;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -ms-border-bottom-left-radius: 4px;
  -o-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -ms-border-bottom-right-radius: 4px;
  -o-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}


/* line 38, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 95, ../sass/lightbox.sass */
.lb-data {
  padding: 0 10px;
  color: #bbbbbb;
}
/* line 98, ../sass/lightbox.sass */
.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}
/* line 103, ../sass/lightbox.sass */
.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}
/* line 107, ../sass/lightbox.sass */
.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 11px;
}
/* line 112, ../sass/lightbox.sass */
.lb-data .lb-close {
  width: 35px;
  float: right;
  padding-bottom: 0.7em;
  outline: none;
}
/* line 117, ../sass/lightbox.sass */
.lb-data .lb-close:hover {
  cursor: pointer;
}

.titulo{
position:relative;
left:auto;
margin-left:100px;
top:30px;
color:#000;
font-weight: bold;
text-align: center;
z-index: 3; 
		  } 
		  
			  
	#apDiv4 {
	position: absolute;
	width: 725px;
	height: 181px;
	z-index: 3;
	left: 297px;
	top: 274px;
}		  

.dimension2
{
	width: 40%;
	height:auto;
	}
	
	
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
	
body, nav, ul, li, a  {margin: 0; padding: 0;}
body {font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
a {text-decoration: none;}
.container {
    width: 90%;
    max-width: 900px;
    margin: 10px auto;
}
.toggleMenu {
    display:  none;
    background: #666;
    padding: 10px 15px;
    color: #fff;
}
.nav {
    list-style: none;
     *zoom: 1;
     background:#175e4c;
     position: relative;
}
.nav:before,
.nav:after {
    content: " ";
    display: table;
}
.nav:after {
    clear: both;
}
.nav ul {
    list-style: none;
    width: 9em;
}
.nav a {
    padding: 10px 15px;
    color:#fff;
    *zoom: 1;
}
.nav > li {
    float: left;
    border-top: 1px solid #104336;
    z-index: 200;
}
.nav > li > a {
    display: block;
}
.nav li ul {
    position: absolute;
    left: -9999px;
    z-index: 100;
}
.nav li li a {
    display: block;
    background: #1d7a62;
    position: relative;
    z-index:100;
    border-top: 1px solid #175e4c;
}
.nav li li li a {
    background:#249578;
    z-index:200;
    border-top: 1px solid #1d7a62;
}	
	
	
nav {
    width: 90%;
    margin: 50px auto; 
}
 
nav ul {
    list-style: none;
    overflow: hidden;
}


nav li a {
    background: #444;
    border-right: 1px solid #fff;
    color: #fff;
    display: block;
    float: left;
    font: 400 13px/1.4 'Cutive', Helvetica, Verdana, Arial, sans-serif;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 12.5%;
}
 
/*SMALL*/
nav small {
    color: #aaa;   
    font: 100 11px/1 Helvetica, Verdana, Arial, sans-serif;
    text-transform: none;
     
}


nav li a {
    display: block;
    float: left;
    width: 12.5%;
    padding: 10px;
     
    background: #444;
    border-right: 1px solid #fff;
     
    color: #fff;   
    font: 400 13px/1.4 'Cutive', Helvetica, Verdana, Arial, sans-serif;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

/* =Navigation
-------------------------------------------------------------- */
/* clip skip link for screen readers */
.skip-link {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
}
#access {
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow:visible;
    z-index:100;
}
/* style the main menu 8*/
.sf-menu{
    border: 1px solid #000;
    border-top: none;
}
/* get rid of padding and margin off all ul's (not sure about using * here, could be better) */
.sf-menu, .sf-menu * {
    margin:0;
    padding:0;
    list-style:none;
}
/* position all dropdowns off screen */
.sf-menu ul {
    position:absolute;
    top:-999em;
}
/* style the main nav list items */
.sf-menu li {
    background: #000;
    background-image: url('../img/menuBg.png'), linear-gradient(bottom, rgb(36,35,36) 0%, rgb(0,0,0) 100%);
    background-image: url('../img/menuBg.png'), -o-linear-gradient(bottom, rgb(36,35,36) 0%, rgb(0,0,0) 100%);
    background-image: url('../img/menuBg.png'), -moz-linear-gradient(bottom, rgb(36,35,36) 0%, rgb(0,0,0) 100%);
    background-image: url('../img/menuBg.png'), -webkit-linear-gradient(bottom, rgb(36,35,36) 0%, rgb(0,0,0) 100%);
    background-image: url('../img/menuBg.png'), -ms-linear-gradient(bottom, rgb(36,35,36) 0%, rgb(0,0,0) 100%);
    background-image: url('../img/menuBg.png'), -webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(36,35,36)), color-stop(1, rgb(0,0,0)));
    background-repeat: repeat-x;
    border-top: 1px solid #242324;
    clear: left;
    float:left;
    position:relative;
    width: 100%;
}
/* change the main nav list items on hover */ 
.sf-menu li:hover {
    background-image: url('../img/menuBg.png'); 
    visibility:inherit; /* fixes IE7 'sticky bug' */
}
/* style all the links */
.sf-menu a {
    font-size: .8em;
    color: #fff;
    display:block;
    padding: 12px 0;
    text-decoration: none;
    text-indent: 12px;
}
/* style the first drop */
.sf-menu li li, .sf-menu li li:hover{
    background: none;
    background-image: none;
}
/* add a larger text indent for the first drop links */
.sf-menu li li a{
    text-indent: 24px;
}
/* add a larger text indent for the second drop links */
.sf-menu li li li a{
    text-indent: 36px;
}
/* add a larger text indent for the third drop links */
.sf-menu li li li li a{
    text-indent: 48px;
}
/* position first drop */
.sf-menu li:hover ul {
    top:auto; /* match top ul list item height */
    position:relative;
}
/* make sure second drop is still off screen */
ul.sf-menu li:hover li ul {
    position: absolute;
    top:-999em;
}
/* position second drop */
ul.sf-menu li li:hover ul {
    top:auto;
    position:relative;
}
/* make sure third drop is still off screen */
ul.sf-menu li li:hover li ul {
    position: absolute;
    top:-999em;
}
/* position third drop */
ul.sf-menu li li li:hover ul {
    top:auto;
    position:relative;
}


.navigation {
  max-width: none;
  background: #000;
  padding: 0;
}

.navigation li {
  float: left;
}

.navigation li a {
  display: block;
  color: #fff;
  padding: 10px;
}

.navigation li a:hover {
  background: #0fcaf2;
}

.navheader { 
  font-size: 12px;
}

.slide-trigger {
  display: none; /* need this */
  border: 1px solid #CCCCCC;
  cursor: pointer;
  margin-left: 15px;
  margin-right: 15px;
}

.slide-trigger span {
  background-image: url("/a/i/dropdown-arrows.png");
  background-position: 0 -14px;
  display: block;
  float: right;
  margin-top: 3px;
  height: 14px;
  width: 32px;
}

@media only screen and (max-width: 560px) {
  .slide-trigger { display: block; }
    .no-js .slide-trigger { display: none; }
  .navigation { display: none; }
    .no-js .navigation { display: block; }
  .navigation { margin: 0 15px; }
  .navigation li { float: none; }
  .navigation li a { border-bottom: 1px solid #fff; }
}


#banner-inner-wrapper {
    display: table;
    width: 96%;
    margin: 0.375em auto; /* 6/16 = 0.375em; */
}
#banner-inner {
    display: table-row;
}
#title {
    display: table-cell;
}
#logo {
    max-width: 100%;
    vertical-align: middle;
}
#menu-nav {
    display: table-cell;
    vertical-align: bottom;
    text-align: right;
}


#menu-button {
    vertical-align: bottom;
    float: right;
    padding: .375em; /* 6/16 = .375em */
    margin: 0 .375em 0 2em; /* 6/16 = .375em, 32/16 = 2em */
    opacity: .7;
    cursor: pointer;
     
    transition: all .2s linear;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
     
    background-color: #4D8EBC;
    background-image: linear-gradient(top,rgba(100, 152, 190, .5),rgba(30, 82, 120, .5));
    background-position: left bottom;
    background-repeat: repeat-x;
}




#menu-button.selected,
#menu-button:active {
    opacity: 1;
     
    box-shadow: 0 1px  1px rgba(120, 120, 120, .2);
    background-color: #2E6288;
    background-image: linear-gradient(top,rgba(25, 68, 99, .5),rgba(30, 82, 120, .5));
     
    margin-bottom: -.375em; /* 6/16 = .375em */
}


	
img {
border: 5px solid #ccc;
float: left;
margin: 15px;
-webkit-transition: margin 0.5s ease-out;
-moz-transition: margin 0.5s ease-out;
-ms-transition: margin 0.5s ease-out;
transition: margin 0.5s ease-out;
}
.ex1 img:hover {
margin-top: 2px;
}

#container {
width: 300px;
margin: 0 auto;
}
#ex2 img{
height: 100px;
width: 300px;
margin: 15px 0;
-webkit-transition: all 1s ease;
-moz-transition: all 1s ease;
-ms-transition: all 1s ease;
transition: all 1s ease;
}
#ex2 img:hover {
height: 133px;
width: 400px;
margin-left: -50px;
}




containerEx3 {
width: 800px;
margin: 0 auto;
}
#ex3 img {
margin: 20px;
border: 5px solid #eee;
-webkit-box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
-moz-box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
-webkit-transition: all 0.5s ease-out;
-moz-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
}
#ex3 img:hover {
-webkit-transform: rotate(-7deg);
-moz-transform: rotate(-7deg);
-ms-transform: rotate(-7deg);
transform: rotate(-7deg);
}
ex4 {
width: 730px;
height: 133px;
line-height: 0px;
color: transparent; font-
size
: 50px;
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
font-weight: 300;
text-transform: uppercase;
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
transition: all 0.5s ease;
}
#ex4:hover {
line-height: 133px;
color: #575858;
}
#ex4 img{ float: left;
margin: 0 15px;
}

#ex2 img:hover {
height: 133px;
width: 400px;
margin-left: -50px;
/*** aquí va la sombra ***/
-webkit-box-shadow: 0 0 5px #999;
-moz-box-shadow: 0 0 5px #999;
-ms-box-shadow: 0 0 5px #999;
box-shadow: 0 0 5px #999;
}


<div id="clock">
  <div id="hour"><img src="images/hourHand.png" /></div>
  <div id="minute"><img src="images/minuteHand.png" /></div>
  <div id="second"><img src="images/secondHand.png" /></div>
</div>

#clock {
  position: relative;
  width: 378px;
  height: 378px;
  background-image: url('../images/clockFace.png');
  left: 50%;
  margin: 5em 0 0 -189px;
}

#clock div {
  position: absolute;
}

#clock img[src*='hour'] {
  -webkit-transform: rotate(90deg);
}

#clock img[src*='second'] {
  /* -webkit-transition: property duration timing-function */
  -webkit-transition: -webkit-transform 60s linear;
}

#clock:target img[src*='second'] {
  -webkit-transform: rotate(360deg);
}

#clock img[src*='second'] {
  -webkit-transition: -webkit-transform 600000s linear;
}

#clock:target img[src*='second'] {
  -webkit-transform: rotate(3600000deg);
}

#clock img[src*='minute'] {
  -webkit-transition: -webkit-transform 360000s linear;
}

#clock:target img[src*='minute'] {
  -webkit-transform: rotate(36000deg);
}




#card-1 {
  -webkit-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  z-index:1;
  left:150px;
  top:40px;
}
  
#card-2 {
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  z-index:2;
  left:70px;
  top:10px;
}
  
#card-3 {
  background-color:#69732B;
  z-index:3;
}
  
#card-4 {
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  z-index:2;
  right:70px;
  top:10px;
}
  
#card-5 {
  -webkit-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  z-index:1;
  right:150px;
  top:40px;
}



/* Hover States */
  
ul#index_cards li:hover {
  z-index:4;
}
  
#card-1:hover {
  -moz-transform: scale(1.1) rotate(-18deg);
     -webkit-transform: scale(1.1) rotate(-18deg); 
}
    
#card-2:hover {
  -moz-transform: scale(1.1) rotate(-8deg);
   -webkit-transform: scale(1.1) rotate(-8deg); 
}
  
#card-3:hover {
  -moz-transform: scale(1.1) rotate(2deg);
   -webkit-transform: scale(1.1) rotate(2deg); 
}
  
#card-4:hover {
  -moz-transform: scale(1.1) rotate(12deg);
   -webkit-transform: scale(1.1) rotate(12deg); 
}
  
#card-5:hover {
  -moz-transform: scale(1.1) rotate(22deg);
   -webkit-transform: scale(1.1) rotate(22deg); 
}




/* Content Styling */
  
ul#index_cards li img {
  margin-top:7px;
  background:#eee;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 0px 0px 5px #aaa;
  -webkit-box-shadow: 0px 0px 5px #aaa;
}
      
ul#index_cards li p {
  margin-top:4px;
  text-align:left;
  line-height:28px;  
}



.cube {
  position: relative;
  top: 200px;
}

.rightFace,
.leftFace,
.topFace div {
  padding: 10px;
  width: 180px;
  height: 180px;
}

.rightFace,
.leftFace,
.topFace {
  position: absolute;
}



.leftFace {
  -webkit-transform: skewY(30deg);
  -moz-transform: skewY(30deg);
  background-color: #ccc;
}

.rightFace {
  -webkit-transform: skewY(-30deg);
  -moz-transform: skewY(-30deg);
  background-color: #ddd;
  left: 200px;
}


.topFace div {
  -webkit-transform: skewY(-30deg) scaleY(1.16);
  -moz-transform: skewY(-30deg) scaleY(1.16);
  background-color: #eee;
  font-size: 0.862em;
}

.topFace {
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  top: -158px;
  left: 100px;
}

.cube {
  position: relative;
  top: 200px;
}

.rightFace,
.leftFace,
.topFace div {
  padding: 10px;
  width: 180px;
  height: 180px;
}

.rightFace,
.leftFace,
.topFace {
  position: absolute;
}

.leftFace {
  -webkit-transform: skewY(30deg);
  -moz-transform: skewY(30deg);
  background-color: #ccc;
}

.rightFace {
  -webkit-transform: skewY(-30deg);
  -moz-transform: skewY(-30deg);
  background-color: #ddd;
  left: 200px;
}

.topFace div {
  -webkit-transform: skewY(-30deg) scaleY(1.16);
  -moz-transform: skewY(-30deg) scaleY(1.16);
  background-color: #eee;
  font-size: 0.862em;
}

.topFace {
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  top: -158px;
  left: 100px;
}


img{
    height: 100px;
    width: 300px;
    margin: 15px 0;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
}
 
img:hover {
    height: 133px;
    width: 400px;
    margin-left: -50px;
}


img:hover{
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5)
}



	
img{
    border: 5px solid #ccc;
    float: left;
    margin: 15px;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
}
 
img:hover {
    margin-top: 2px;
}

img {
    margin: 20px;
    border: 5px solid #eee;
    -webkit-box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
    -moz-box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
    box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}
 
img:hover {
    -webkit-transform: rotate(-7deg);
    -moz-transform: rotate(-7deg);
    -o-transform: rotate(-7deg);
}





img {
    margin: 25px;
    opacity: 0.8;
    border: 10px solid #eee;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.1)));
}
 
img:hover {
    opacity: 1;
    -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.4)));
    -webkit-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
    -moz-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
    box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
}















