 / * Botón de la etiqueta del estilo 'show menu' y esconderlo por defecto * /
 .Show menú {
	 font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	 text-decoration: none;
	 color: #fff;
	 background: # 19c589;
	 text-align: center;
	 padding: 10px 0;
	 display: none;
 }

 / * Ocultar casilla * /
 input [type = checkbox] {
     display: none;
 }

 / * Mostrar menú cuando casilla invisible se comprueba * /
 input [type = checkbox]: marcada ~ #menu {
     display: block;
 }
