 / * Pele el ul de relleno y la lista de estilo * /
 ul {
	 -style-type lista: none;
	 margin: 0;
	 padding: 0;
	 position: absolute;
 }

 / * Crear una lista horizontal con separación * /
 li {
	 display: inline-block;
	 float: left;
	 margin-right: 1px;
 }
