 / * Pele el ul de relleno y la lista de estilo * /
 ul {
	 -style-type lista: none;
	 margin: 0;
	 padding: 0;
	 position: absolute;
 }

 / * Crear una lista horizontal con separación * /
 li {
	 display: inline-block;
	 float: left;
	 margin-right: 1px;
 }

 / * Estilo de menú de enlaces * /
 li a {
	 display: block;
	 min-width: 140px;
	 altura: 50px;
	 text-align: center;
	 line-height: 50px;
	 font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	 color: #fff;
	 background: # 2f3036;
	 text-decoration: none;
 }

 / * Estado de la libración para los mejores lazos a nivel * /
 li: hover a {
	 background: # 19c589;
 }

 / * Estilo para enlaces desplegables * /
 li: hover ul a {
	 background: # f3f3f3;
	 color: # 2f3036;
	 altura: 40px;
	 line-height: 40px;
 }

 / * Estado de la libración de enlaces desplegables * /
 li: hover ul a: hover {
	 background: # 19c589;
	 color: #fff;
 }

 Hasta que se necesiten / * Ocultar enlaces desplegables * /
 li ul {
	 display: none;
 }

 / * Hacer vínculos desplegables * verticales /
 li ul li {
	 display: block;
	 float: none;
 }

 / * Prevenir ajuste de texto * /
 li ul li a {
	 width: auto;
	 min-width: 100px;
	 padding: 20px 0;
 }

 / * Mostrar el menú desplegable en la libración * /
 ul li a: hover + .hidden, .hidden: hover {
	 display: block;
 }

 / * Botón de la etiqueta del estilo 'show menu' y esconderlo por defecto * /
 .Show menú {
	 font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	 text-decoration: none;
	 color: #fff;
	 background: # 19c589;
	 text-align: center;
	 padding: 10px 0;
	 display: none;
 }

 / * Ocultar casilla * /
 input [type = checkbox] {
     display: none;
 }

 / * Mostrar menú cuando casilla invisible se comprueba * /
 input [type = checkbox]: marcada ~ #menu {
     display: block;
 }


 / * Estilos Responsive * /

 pantallamedia y (max-width: 760px) {
	 / * Hacer aparecen enlaces desplegables en línea * /
	 ul {
		 posición: estática;
		 display: none;
	 }
	 / * Crear espacio vertical * /
	 li {
		 margin-bottom: 1px;
	 }
	 / * Hacer todos los enlaces del menú ancho * /
	 ul li, li a {
		 width: 100%;
	 }
	 / * Pantalla 'de menú de' enlace * /
	 .Show menú {
		 display: block;
	 }
 }
